doctype html
html
    head
        style.
            .wrapper {
                text-align: center;
                background-color: #3f426b;
                height: 100%;
                padding: 20px 0 40px;
            }

            .content {
                width: 80%;
                margin: 0 auto;
            }

            h2 {
                font-size: 20px;
                color: #fff;
            }

            h3 {
                font-size: 18px;
                color: #fff;
                padding-bottom: 20px;
            }

            a {
                color: #fff !important;
                font-weight: bold ;
                text-decoration: none;
                background-color: #ff7a0c;
                padding: 10px 15px;
                font-size: 16px;
                border-radius: 4px;
            }
    body
        div.wrapper
            div.content
                h2 We heard that you lost your password. Sorry about that!
                h3 But don’t worry! You can use the following link to reset your password:
                a(href=`${url}`) change password
